/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*========== Colors ==========*/
/* Change favorite color */
/*Purple 250 - Green 142 - Blue 230 - Pink 340*/
/* HSL color mode */
/*========== Font and typography ==========*/
/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
/*========== Font weight ==========*/
/*========== Margin Bottom ==========*/
/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
/*========== z index ==========*/
/* Font size for large devices */
.dark_theme {
  /* HSL color mode */
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fbfbfe;
}

.nav {
  max-width: 968px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_logo {
  color: #242329;
  font-weight: 500;
}

.nav_logo:hover {
  color: #6e57e0;
}

.nav_toggle {
  color: #242329;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}

.nav_toggle:hover {
  color: #6e57e0;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: #fbfbfe;
    padding: 2rem 1.5rem 4rem;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
}

.nav_list {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.813rem;
  color: #242329;
  font-weight: 500;
}

.nav_link:hover {
  color: #6e57e0;
}

.nav_icon {
  font-size: 1.2rem;
}

.nav_close {
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6e57e0;
}

.nav_close:hover {
  color: #5a43cb;
}

.show_menu {
  bottom: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.home_container {
  gap: 1rem;
}

.home_content {
  -ms-grid-columns: .5fr 3fr;
      grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.25rem;
  color: #6e57e0;
}

.home_social-icon:hover {
  color: #5a43cb;
}

.home_blob {
  width: 250px;
  fill: #6e57e0;
}

.home_blob-img {
  width: 170px;
}

.home_data {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.home_title {
  font-size: 2rem;
}

.home_subtitle {
  font-size: 1.125rem;
  color: #6d6a7c;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.home_description {
  margin-bottom: 2rem;
}

.home_scroll {
  display: none;
}

.home_scroll-button {
  color: #6e57e0;
  -webkit-transition: .3s;
  transition: .3s;
}

.home_scroll-button:hover {
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
}

.home_scroll-mouse {
  font-size: 2rem;
}

.home_scroll-name {
  font-size: 0.813rem;
  color: #242329;
  font-weight: 500;
  margin-right: 0.25rem;
}

.home_scroll-arrow {
  font-size: 1.25rem;
}

.button {
  display: inline-block;
  background: #6e57e0;
  color: #FFF;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: 500;
}

.button:hover {
  background: #5a43cb;
}

.button_icon {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.button_flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_img {
  width: 200px;
  border-radius: .5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about_description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills_container {
  row-gap: 0;
}

.skills_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.skills_icon {
  font-size: 2rem;
  color: #6e57e0;
  margin-right: 0.75rem;
}

.skills_arrow {
  font-size: 2rem;
  color: #6e57e0;
  margin-left: auto;
  -webkit-transition: .3s;
  transition: .3s;
}

.skills_title {
  font-size: 1.125rem;
}

.skills_subtitle {
  font-size: 0.813rem;
  color: #a19fad;
}

.skill_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5rem;
}

.skills_name {
  font-size: 0.938rem;
  font-weight: 500;
}

.skills_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.skills_bar::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 5px solid #6e57e0;
  margin: auto 2%;
}

.skills_bar::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 5px solid #6e57e0;
  margin: auto 2%;
}

.skills_close .skills_list {
  height: 0;
  overflow: hidden;
}

.skills_open .skills_list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills_open .skills_arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.qualification_tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
}

.qualification_button {
  font-size: 0.938rem;
  font-weight: 500;
  cursor: pointer;
}

.qualification_button:hover {
  color: #6e57e0;
}

.qualification_icon {
  font-size: 1.3rem;
  margin-right: 0.1rem;
}

.qualification_data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 1.3rem;
          column-gap: 1.3rem;
}

.qualification_title {
  font-size: 0.938rem;
  font-weight: 500;
}

.qualification_subtitle {
  display: inline-block;
  font-size: 0.813rem;
  margin-bottom: 1rem;
  color: #6d6a7c;
}

.qualification_calendar {
  font-size: 0.75rem;
  color: #a19fad;
}

.qualification_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #6e57e0;
  border-radius: 50%;
}

.qualification_line {
  display: block;
  width: 2px;
  height: 100%;
  background: #6e57e0;
  -webkit-transform: translate(6px, -7px);
          transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification_active[data-content] {
  display: block;
}

.qualification_active {
  color: #6e57e0;
}

.portfolio_container {
  overflow: initial;
}

.portfolio_content {
  padding: 0 1.5rem;
}

.portfolio_img {
  width: 265px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: .5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.portfolio_title {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.portfolio_description {
  margin-bottom: 0.75rem;
}

.portfolio_button:hover .button_icon {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.swiper-pagination-horizontal.swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background: #6e57e0;
}

.testimonial_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.testimonial_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.testimonial_name {
  font-size: 1.125rem;
  font-weight: 500;
}

.testimonial_status {
  font-size: 0.813rem;
  color: #a19fad;
}

.testimonial_description {
  margin-bottom: 2.5rem;
}

.testimonial_container .swiper-pagination-testimonial {
  bottom: -1.5rem;
}

.contact_container {
  row-gap: 3rem;
}

.contact_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

/*==================== BASE ====================*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, .dark_theme {
  margin: 0 0 3rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #fbfbfe;
  color: #6d6a7c;
}

h1, h2, h3, h4 {
  color: #242329;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-size: 1.5rem;
}

.section_subtitle {
  display: block;
  font-size: 0.813rem;
  margin-bottom: 3rem;
}

.section_title, .section_subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}
/*# sourceMappingURL=main-style.css.map */