/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*========== Colors ==========*/
/* Change favorite color */
/*Purple 250 - Green 142 - Blue 230 - Pink 340*/
/* HSL color mode */
/*========== Font and typography ==========*/
/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
/*========== Font weight ==========*/
/*========== Margin Bottom ==========*/
/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
/*========== z index ==========*/
/* Font size for large devices */
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #191627;
}

.nav {
  max-width: 968px;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_logo {
  color: #f2f1f3;
  font-weight: 500;
}

.nav_logo:hover {
  color: #6e57e0;
}

.nav_toggle {
  color: #f2f1f3;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}

.nav_toggle:hover {
  color: #6e57e0;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: #191627;
    padding: 2rem 1.5rem 4rem;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
}

.nav_list {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.813rem;
  color: #f2f1f3;
  font-weight: 500;
}

.nav_link:hover {
  color: #6e57e0;
}

.nav_icon {
  font-size: 1.2rem;
}

.nav_close {
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6e57e0;
}

.nav_close:hover {
  color: #5a43cb;
}

.show_menu {
  bottom: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.home_container {
  gap: 1rem;
}

.home_content {
  -ms-grid-columns: .5fr 3fr;
      grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.25rem;
  color: #6e57e0;
}

.home_social-icon:hover {
  color: #5a43cb;
}

.home_blob {
  width: 250px;
  fill: #6e57e0;
}

.home_blob-img {
  width: 170px;
}

.home_data {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.home_title {
  font-size: 2rem;
}

.home_subtitle {
  font-size: 1.125rem;
  color: #bcbac4;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.home_description {
  margin-bottom: 2rem;
}

.home_scroll {
  display: none;
}

.home_scroll-button {
  color: #6e57e0;
  -webkit-transition: .3s;
  transition: .3s;
}

.home_scroll-button:hover {
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
}

.home_scroll-mouse {
  font-size: 2rem;
}

.home_scroll-name {
  font-size: 0.813rem;
  color: #f2f1f3;
  font-weight: 500;
  margin-right: 0.25rem;
}

.home_scroll-arrow {
  font-size: 1.25rem;
}

.button {
  display: inline-block;
  background: #6e57e0;
  color: #FFF;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: 500;
}

.button:hover {
  background: #5a43cb;
}

.button_icon {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.button_flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_img {
  width: 200px;
  border-radius: .5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about_description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills_container {
  row-gap: 0;
}

.skills_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.skills_icon {
  font-size: 2rem;
  color: #6e57e0;
  margin-right: 0.75rem;
}

.skills_arrow {
  font-size: 2rem;
  color: #6e57e0;
  margin-left: auto;
  -webkit-transition: .3s;
  transition: .3s;
}

.skills_title {
  font-size: 1.125rem;
}

.skills_subtitle {
  font-size: 0.813rem;
  color: #a19fad;
}

.skill_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5rem;
}

.skills_name {
  font-size: 0.938rem;
  font-weight: 500;
}

.skills_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.skills_bar::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 5px solid #6e57e0;
  margin: auto 2%;
}

.skills_bar::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 5px solid #6e57e0;
  margin: auto 2%;
}

.skills_close .skills_list {
  height: 0;
  overflow: hidden;
}

.skills_open .skills_list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills_open .skills_arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.qualification_tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
}

.qualification_button {
  font-size: 0.938rem;
  font-weight: 500;
  cursor: pointer;
}

.qualification_button:hover {
  color: #6e57e0;
}

.qualification_icon {
  font-size: 1.3rem;
  margin-right: 0.1rem;
}

.qualification_data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 1.3rem;
          column-gap: 1.3rem;
}

.qualification_title {
  font-size: 0.938rem;
  font-weight: 500;
}

.qualification_subtitle {
  display: inline-block;
  font-size: 0.813rem;
  margin-bottom: 1rem;
  color: #bcbac4;
}

.qualification_calendar {
  font-size: 0.75rem;
  color: #a19fad;
}

.qualification_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #6e57e0;
  border-radius: 50%;
}

.qualification_line {
  display: block;
  width: 2px;
  height: 100%;
  background: #6e57e0;
  -webkit-transform: translate(6px, -7px);
          transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification_active[data-content] {
  display: block;
}

.qualification_active {
  color: #6e57e0;
}

.portfolio_container {
  overflow: hidden;
}

.portfolio_content {
  padding: 0 1.5rem;
}

.portfolio_img {
  width: 265px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: .5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.portfolio_title {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.portfolio_description {
  margin-bottom: 0.75rem;
}

.portfolio_button {
  margin: 0 0 3rem;
}

.portfolio_button:hover .button_icon {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.portfolio_container .swiper-pagination-bullets {
  bottom: 0;
}

.swiper-pagination-bullet-active {
  background: #6e57e0;
}

.testimonial_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.testimonial_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.testimonial_name {
  font-size: 1.125rem;
  font-weight: 500;
}

.testimonial_status {
  font-size: 0.813rem;
  color: #a19fad;
}

.testimonial_description {
  margin-bottom: 2.5rem;
}

.testimonial_container .swiper-pagination-testimonial {
  bottom: -1.5rem;
}

button {
  border: none;
  background: none;
}

.contact_container {
  row-gap: 3rem;
}

.contact_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.contact_icon {
  font-size: 2rem;
  color: #6e57e0;
  margin-right: 0.75rem;
}

.contact_title {
  font-size: 1.125rem;
  font-weight: 500;
}

.contact_subtitle {
  font-size: 0.813rem;
  color: #a19fad;
}

.contact_content {
  background: #211d35;
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contact_label {
  font-size: 0.75rem;
  color: #f2f1f3;
}

.contact_input {
  width: 100%;
  background: #211d35;
  color: #bcbac4;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}

.footer {
  padding-top: 2rem;
}

.footer_container {
  row-gap: 3.5rem;
}

.footer_bg {
  background: #100e1b;
  padding: 2rem 0 3rem;
}

.common_color, .footer_title, .footer_subtitle, .footer_link, .footer_social {
  color: #FFF;
}

.footer_title {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.footer_subtitle {
  font-size: 0.813rem;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
}

.footer_link:hover {
  color: #c1b6fc;
}

.footer_social {
  font-size: 1.25rem;
  margin-right: 1.5rem;
}

.footer_social:hover {
  color: #c1b6fc;
}

.footer_copyright {
  font-size: 0.75rem;
  text-align: center;
  color: #a19fad;
  margin-top: 3rem;
}

/*==================== BASE ====================*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-width: .6rem;
  scrollbar-color: #716c89;
}

*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: .6rem;
  background: #716c89;
  border-radius: .5rem;
}

*::-webkit-scrollbar-thumb {
  background: #545167;
  border-radius: .5rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a19fad;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 4.5rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #191627;
  color: #bcbac4;
}

h1, h2, h3, h4 {
  color: #f2f1f3;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-size: 1.5rem;
}

.section_subtitle {
  display: block;
  font-size: 0.813rem;
  margin-bottom: 3rem;
}

.section_title, .section_subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.active_link {
  color: #6e57e0;
}

/*==================== SCROLL CSS ====================*/
.scroll_header {
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.scrollUp {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background: #6e57e0;
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: 10;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}

.scrollUp:hover {
  background: #5a43cb;
}

.scrollup_icon {
  font-size: 1.5rem;
  color: #FFF;
}

.show_scrollUp {
  bottom: 5rem;
}

@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav_menu {
    padding: 2rem .25rem 4rem;
  }
  .nav_list {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .home_content {
    -ms-grid-columns: .25fr 3fr;
        grid-template-columns: .25fr 3fr;
  }
  .home_blob {
    width: 180px;
  }
  .skills_title {
    font-size: 0.938rem;
  }
  .qualification_data {
    gap: .5rem;
  }
  .testimonial_data, .testimonial_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonial_img {
    margin-right: 0;
    margin-bottom: 0.25rem;
  }
  .testimonial_data, .testimonial_description {
    text-align: center;
  }
}

@media screen and (min-width: 568px) {
  .home_content {
    -ms-grid-columns: max-content 1fr 1fr;
        grid-template-columns: -webkit-max-content 1fr 1fr;
        grid-template-columns: max-content 1fr 1fr;
  }
  .home_data {
    grid-column: initial;
  }
  .home_img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .about_container, .skills_container, .portfolio_content, .contact_container, .footer_container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .qualification_sections {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .6fr;
        grid-template-columns: .6fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio_img {
    margin: auto 0 4rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section_subtitle {
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  .header, .main, .footer_container {
    padding: 0 1rem;
  }
  .nav {
    height: 4.5rem;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .nav_icon, .nav_close, .nav_toggle {
    display: none;
  }
  .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .nav_menu {
    margin-left: auto;
  }
  .home_container {
    row-gap: 5rem;
  }
  .home_content {
    padding-top: 5.5rem;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .home_blob {
    width: 270px;
  }
  .home_scroll {
    display: block;
  }
  .home_scroll-button {
    margin-left: 3rem;
  }
  .about_container {
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  .about_img {
    width: 350px;
  }
  .about_description {
    text-align: initial;
  }
  .about_button {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .qualification_tabs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .qualification_button {
    margin: 0 1rem;
  }
  .qualification_sections {
    -ms-grid-columns: .5fr;
        grid-template-columns: .5fr;
  }
  .portfolio_img {
    width: 320px;
  }
  .portfolio_content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .footer_bg {
    padding: 3rem 0 3.5rem;
  }
  .footer_links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .footer_socials {
    justify-self: flex-end;
  }
  .footer_copyright {
    margin-top: 4.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .header, .main, .footer_container {
    padding: 0;
  }
  .home_blob {
    width: 320px;
  }
  .nav_logo {
    -webkit-transform: translateX(-6rem);
            transform: translateX(-6rem);
  }
  .home_social {
    -webkit-transform: translateX(-6rem);
            transform: translateX(-6rem);
  }
  .portfolio_container {
    overflow: initial;
  }
  .portfolio_content {
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  .contact_form {
    width: 460px;
  }
  .contact_inputs {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=main-style.css.map */