.portfolio_container {
    overflow: hidden;
}

.portfolio_content {
    padding: 0 1.5rem;
}

.portfolio_img {
    width: 265px;
    height: fit-content;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio_title {
    font-size: $h3-font-size;
    margin-bottom: $mb-0-5;
}

.portfolio_description {
    margin-bottom: $mb-0-75;
}

.portfolio_button {
    margin: 0 0 3rem;

    &:hover {

        .button_icon {
            transform: translateX(.25rem);
        }
    }
}

.portfolio_container {

    .swiper-pagination-bullets {
        bottom: 0;
    }
}

.swiper-pagination-bullet-active {
    background: $first-color;
}