.about_img {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about_description {
    text-align: center;
    margin-bottom: $mb-2-5;
}

.about_button {
    display: flex;
    justify-content: center;
}