@import "../shared/variables";
@import "../home/main-nav";
@import "../home/main-home";
@import "../home/main-about";
@import "../home/main-skills";
@import "../home/main-qualifications";
@import "../home/main-portfolio";
@import "../home/main-testimonial";

/*==================== BASE ====================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &::before {
        box-sizing: border-box;
    }

    &::after {
        box-sizing: border-box;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 $header-height 0;
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $body-color;
    color: $text-color;
}

h1, h2, h3, h4 {
    color: $title-color;
    font-weight: $font-semi-bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 2rem 0 4rem;
}

.section_title {
    font-size: $h1-font-size;
}

.section_subtitle {
    display: block;
    font-size: $small-font-size;
    margin-bottom: $mb-3;
}

.section_title, .section_subtitle {
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 768px;
    margin-left: $mb-1-5;
    margin-right: $mb-1-5;
}

.grid {
    display: grid;
    gap: 1.5rem;
}